<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842781346480-jnjl2b0peh4tm25e9jvm4tveutbecdgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842781346480-jnjl2b0peh4tm25e9jvm4tveutbecdgp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvsb0UPTMkv6c1NrT4m5Rfxm1rDOewGhg</string>
	<key>GCM_SENDER_ID</key>
	<string>842781346480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coriander</string>
	<key>PROJECT_ID</key>
	<string>coriander-app-98011</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander-app-98011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842781346480:ios:bdceca9e9a6c551d0b8975</string>
</dict>
</plist>